[Unit]
Description=SSH WebSocket over Dropbear Service
After=network.target nss-lookup.target
Documentation=man:ws-dropbear

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin
ExecStart=/usr/bin/python3 -O /usr/local/bin/ws-dropbear 143
Restart=always
RestartSec=3
LimitNOFILE=65535
NoNewPrivileges=false

[Install]
WantedBy=multi-user.target
